# compiled output
/dist
/node_modules

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

images

scraped_data.json
src/core/array.helper.ts
src/core/helpers/json1.ts
src/core/helpers/json2.ts
traits.json
nft-data.json
model.json
data.xlsx
excel data.xlsx

doginals-images
___scraped_data.json
___traits.json
__data.json
__dogePunk_data.json
data.json
scraped_data2.json
pg.txt
bl.txt
doginals.json
dogePunk_data.xlsx

i.txt